project:
  type: website
  output-dir: docs

website:
  title: "My Pen Name Here"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - values.qmd
      - publications.qmd
      - posts.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    page-layout: full

